@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <title>Yay</title>
    </head>
    <body>
        <h1>this is sparta</h1>
        <a href="./Home/Private">blabla</a>
    </body>
</html>
